<Header>
    <BrandContainer>
        <a href="{{ .Site.BaseURL }}">KernelCurry</a>
    </BrandContainer>
    <PageNavContainer>
        <ul>
            {{ range .Site.Menus.main.ByWeight -}}
            <li>
                {{ .Pre }}<a href="{{ .URL }}" title="{{ .Title }}">{{- .Name -}}</a>{{ .Post }}
            </li>
            {{- end }}
        </ul>
    </PageNavContainer>

    <SocialNavContainer>
        <ul>
            {{ range .Site.Menus.social.ByWeight -}}
            <li>
                {{ .Pre }}
                <a
                        href="{{ .URL }}"
                        title="{{ .Title }}"
                        rel="nofollow noopener noreferrer"
                        target="_blank"
                >
                    <i class="fa fa-{{- .Identifier -}}"></i>
                </a>
                {{ .Post }}
            </li>
            {{- end }}
        </ul>
    </SocialNavContainer>
</Header>