<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }}</title>

    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/font-fontawesome.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/font-lato.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/global.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/header.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/hero.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/blog-list.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/career-list.css" />
    <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/footer.css" />

</head>