<div id="post-info">
	<div class="row gutters">
		<div class="col col-6">
			<table class="striped">
				<tbody>
					<tr>
						<td>Players</td>
						<td>
							{{ .Params.players_min }}
							{{ if ne .Params.players_min .Params.players_max }}
							    - {{ .Params.players_max }}
							{{ end }}
						</td>
					</tr>

					<tr>
						<td>Category</td>
						<td>{{ title .Params.category }}</td>
					</tr>

					{{ if .Params.release_dates.jp }}
					<tr>
						<td>JP Release Date</td>
						<td>{{ dateFormat "January 2, 2006" .Params.release_dates.jp }}</td>
					</tr>
					{{ end }}

					{{ if .Params.release_dates.na }}
					<tr>
						<td>NA Release Date</td>
						<td>{{ dateFormat "January 2, 2006" .Params.release_dates.na }}</td>
					</tr>
					{{ end }}

					{{ if .Params.release_dates.eu }}
					<tr>
						<td>EU Release Date</td>
						<td>{{ dateFormat "January 2, 2006" .Params.release_dates.eu }}</td>
					</tr>
					{{ end }}

					<tr>
						<td>Developers</td>
						<td>
							{{range $index, $element := .Params.developers}}
								{{ if ne $index 0}}&amp;{{ end }}
								{{ $element }}
							{{ end }}
						</td>
					</tr>

					<tr>
						<td>Publishers</td>
						<td>
							{{range $index, $element := .Params.publishers}}
								{{ if ne $index 0}}&amp;{{ end }}
								{{ $element }}
							{{ end }}
						</td>
					</tr>

					<tr>
						<td>Barcode Number</td>
						<td>{{ .Params.barcode }}</td>
					</tr>
				</tbody>
			</table>
			<img src="http://api-bwipjs.rhcloud.com/?bcid=upca&text={{ .Params.barcode }}&includetext&scaleX=2&scaleY=1&paddingheight=25&paddingwidth=25" title="{{urlize .Params.title}} upc-a barcode"/>

		</div>
		<div class="col col-6">
			<img src="/img/snes/{{urlize .Params.title}}/cart-front.png" title="{{urlize .Params.title}} cartrage front"/>
			<img src="/img/snes/{{urlize .Params.title}}/cart-top.png" title="{{urlize .Params.title}} cartrage top"/>
			<img src="/img/snes/{{urlize .Params.title}}/cart-back.png" title="{{urlize .Params.title}} cartrage back"/>
			<img src="/img/snes/{{urlize .Params.title}}/cart-bottom.png" title="{{urlize .Params.title}} cartrage bottom"/>
		</div>
	</div>
	<div class="row gutters">
		<div class="col col-6">
			<img src="/img/snes/{{urlize .Params.title}}/pcb-front.png" title="{{urlize .Params.title}} pcb front"/>

		</div>
		<div class="col col-6">
			<img src="/img/snes/{{urlize .Params.title}}/pcb-back.png" title="{{urlize .Params.title}} pcb back"/>

		</div>
	</div>
</div>
